<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" >

<listeners>
	<listener class-name="utilities.Listners"/>
</listeners>

   <test name="Suite1PageFactoryFramework1" >
       <classes> 
          <class name="test.LoginTest" />
       </classes>
   </test>
 </suite>